.container {
	background: {
		image: url('https://images.unsplash.com/photo-1519590105806-7fbedddefa03?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=30a8f79d5a58a9135644aa60177d279b&auto=format&fit=crop&w=1934&q=80');
		position: center;
		size: cover;
		repeat: no-repeat;
	}
	margin: 0 auto;
	height: 100vh;
	width: 100vw;
	position: relative;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		transition: .3s all ease-in-out;
		background: rgba(0,0,0,0.425);
	}
	&:hover {
		&:before {
			background: rgba(0,0,0,0.675);
		}
	}
}

.diamond {
	position: absolute;
	height: 180px;
	width: 180px;
	transition: .3s all ease-in-out;
	background: #fff;
	border: 3px solid #fff;
	top: 50%;
	left: 50%;
	transform: rotate(45deg) translate(-50%, -50%);
	transform-origin: top left;
	text-align: center;
	.container:hover & {
		background: transparent;
	}
	&__inner {
		position: absolute;
		vertical-align: middle;
		width: 100%;
		max-height: 100%;
		top: 50%;
		left: 50%;
		transition: .3s all ease-in-out;
		transform: rotate(-45deg) translate(-50%, -50%);
		transform-origin: top left;
		.container:hover & {
			color: #fff;
		}
	}
	&__title {
		position: relative;
		&:after {
			position: relative;
			background: goldenrod;
			width: 40px;
			height: 3px;
			top: 0;
			display: block;
			content: '';
			margin: 8px auto 0;
		}
	}
}
